.set {
  padding: 60px 0;
}

.set__title {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.set__inner {
  min-height: 467px;
  padding: 87px 0 150px; 
  background-image: url('../images/set-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.set__inner-content {
  max-width: 392px;
}

.set__item-title {
  margin-bottom: 7px;
}

.set__descr {
  padding: 0;
  margin: 0;
}

.sets {
  margin-bottom: 44px;
}

.sets__list {
  display: flex;
  padding: 0;
  margin: 0;

}

.sets__item:not(:last-child) {
  margin-right: 30px;
}


.accessories__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 30px;
}

.accessories__item {
  grid-column: 4 span;
}

.accessories__item-descr {
  margin: 0;
  padding: 0;
}